@model Core_Proje.EL.Concrete.SocialMedia

@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("AddSocialMedia", "SocialMedia", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Hesap Ekleme Paneli</h4>
                <form class="form-sample">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input type="text" class="form-control" name="Url">
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        <select type="text" class="form-control" name="Icon">
                            <option value="fab fa-github">Github</option>
                            <option value="fab fa-twitter">Twitter</option>
                            <option value="fab fa-youtube">Youtube</option>
                            <option value="fab fa-facebook">Facebook</option>
                            <option value="fab fa-linkedin">Linkedin</option>
                            <option value="fab fa-instagram">Instagram</option>
                        </select>
                    </div>
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                    <a class="btn btn-dark" href="/SocialMedia/Index/">İptal</a>
                </form>
            </div>
        </div>
    </div>
}