@model Core_Proje.EL.Concrete.SocialMedia

@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Hesap Düzenleme Paneli </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputName1">ID</label>
                    <input type="text" asp-for="SocialMediaID" class="form-control" id="exampleInputName1" placeholder="ID yazınız...">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" asp-for="Name" class="form-control" id="exampleInputName1" placeholder="Başlık yazınız...">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Url</label>
                    <input type="text" asp-for="Url" class="form-control" id="exampleInputName1" placeholder="Url yazınız...">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">İkon</label>
                    <input type="text" asp-for="Icon" class="form-control" id="exampleInputName1" placeholder="İkon Url yazınız...">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <a class="btn btn-light" href="/SocialMedia/Index/">İptal</a>
            </form>
        </div>
    </div>
</div>