@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/Admin/_PartialHead.cshtml")

<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="/Dashboard/Index/"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/adminlogo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="../../index.html"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/adminlogo.svg" alt="logo" /></a>
            </div>
            @await Html.PartialAsync("/Views/Admin/_PartialSidebar.cshtml")
        </nav>
       
        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("/Views/Admin/_PartialNavbar.cshtml")
            
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                @await RenderSectionAsync("scripts", required: false)

                @await Html.PartialAsync("/Views/Admin/_PartialFooter.cshtml")
                
            </div>           
        </div>        
    </div>

    @await Html.PartialAsync("/Views/Admin/_PartialScript.cshtml")

</body>
</html>